@model AppPortal.ViewModels.QuotesViewModel

@{
    ViewData["Title"] = "Quotes Form";
}

<h3>Funding Request</h3>

<hr />
<form asp-action="SaveQuote" method="post" enctype="form-data" class="form-horizontal"> 
 
    <div class="panel panel-default">
        <div class="panel-heading">Program Information</div> 
        <div class="panel-body">
            <dl class="dl-horizontal"> 
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.DivisionName) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.DivisionName) </dd> 
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.ProgramName) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.ProgramName) </dd> 
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.DivLead) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.DivLead) </dd> 
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.Initiator) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.Initiator) </dd>
            </dl> 
        </div> 
    </div>

    <div class="panel panel-default"> 
        <div class="panel-heading">Quotes</div> 
        <div class="panel-body"> 
            @if (!Model.AttachedQuotes.Any())
            { 
            <p> 
                No Quotes attached yet!
            </p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Vendor Name</th>
                            <th>Telephone #</th>
                            <th>Contact Name</th>
                            <th>Quote</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.AttachedQuotes)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.VendorName) </td>
                            <td> @Html.DisplayFor(modelItem => item.ContactNum) </td>
                            <td> @Html.DisplayFor(modelItem => item.ContactName) </td>
                            <td> @Html.DisplayFor(modelItem => item.QuoteAmt) </td>
                            <td> @Html.DisplayFor(modelItem => item.QuoteDate) </td>
                        </tr>
                    }
                    </tbody>
                </table> 
            } 


            <div class="form-group">
                <label asp-for="AttachedQuote.VendorName" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input asp-for="AttachedQuote.VendorName" class="form-control" />
                    <span asp-validation-for="AttachedQuote.VendorName" class="text-danger"></span> 
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AttachedQuote.ContactNum" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input asp-for="AttachedQuote.ContactNum" class="form-control" />
                    <span asp-validation-for="AttachedQuote.ContactNum" class="text-danger"></span> 
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AttachedQuote.ContactName" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input asp-for="AttachedQuote.ContactName" class="form-control" />
                    <span asp-validation-for="AttachedQuote.ContactName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AttachedQuote.QuoteAmt" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input asp-for="AttachedQuote.QuoteAmt" class="form-control" />
                    <span asp-validation-for="AttachedQuote.QuoteAmt" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AttachedQuote.QuoteDate" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <input asp-for="AttachedQuote.QuoteDate" class="form-control" />
                    <span asp-validation-for="AttachedQuote.QuoteDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Id used for development purposes</label>
                <div class="col-md-2">
                    <input asp-for="AttachedQuote.Id" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <p><strong>Upload one or more pdf files:</strong></p>
                    <input type="file" name="files" multiple />
                    <br />
                </div>
            </div> 
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
            </div> 
        </div>
    </div>

    <input type="hidden" asp-for="AttachedQuote.CapFundingRequestId" /> 
    <input type="hidden" asp-for="CapFundingRequest.Id" /> 
    <input type="hidden" asp-for="CapFundingRequest.ProjectName" />
    
    <div> 
        <a asp-action="Details" asp-route-id="@Model.CapFundingRequest.Id">Back To List</a> 
    </div>
</form>

