@model AppPortal.ViewModels.FundingRequestViewModel

@{
    ViewData["Title"] = "Quote Details";
}

<h3>Quote Details</h3>

<div>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Program Information</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.DivisionName) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.DivisionName) </dd>
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.ProgramName) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.ProgramName) </dd>
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.DivLead) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.DivLead) </dd>
                <dt> @Html.DisplayNameFor(model => model.CapFundingRequest.Initiator) </dt>
                <dd> @Html.DisplayFor(model => model.CapFundingRequest.Initiator) </dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Quotes</div>
        <div class="panel-body">

            <dl class="dl-horizontal">
                <dt> @Html.DisplayNameFor(model => model.AttachedQuote.VendorName) </dt>
                <dd> @Html.DisplayFor(model => model.AttachedQuote.VendorName) </dd>
                <dt> @Html.DisplayNameFor(model => model.AttachedQuote.ContactNum) </dt>
                <dd> @Html.DisplayFor(model => model.AttachedQuote.ContactNum) </dd>
                <dt> @Html.DisplayNameFor(model => model.AttachedQuote.ContactName) </dt>
                <dd> @Html.DisplayFor(model => model.AttachedQuote.ContactName) </dd>
                <dt> @Html.DisplayNameFor(model => model.AttachedQuote.QuoteAmt) </dt>
                <dd> @Html.DisplayFor(model => model.AttachedQuote.QuoteAmt) </dd>
                <dt> @Html.DisplayNameFor(model => model.AttachedQuote.QuoteDate) </dt>
                <dd> @Html.DisplayFor(model => model.AttachedQuote.QuoteDate) </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Attached Documents</dt>
                @if (!Model.QuoteAttachments.Any())
                {
                        <dd>No attached files submitted yet</dd>
                }
                else
                {
                    @foreach (var files in Model.QuoteAttachments)
                    {
                        <dd>
                            <a asp-action="GetQuoteAtt" asp-route-id="@files.Id" target="_blank">@Html.DisplayFor(Model => files.FileName)</a>
                        </dd>
                    }
                }
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="EditQuote" asp-route-id="@Model.AttachedQuote.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@Model.AttachedQuote.CapFundingRequestId">Back To List</a>
</div>


