@model AppPortal.Models.CapFundingRequest

@{
    ViewData["Title"] = "Delete";
}

<h3>Withdraw Request</h3>

<h4>Are you sure you want to withdraw this?</h4>
<h4>This action cannot be undone!</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.ProgramName) </dt>
        <dd> @Html.DisplayFor(model => model.ProgramName) </dd>
        <dt> @Html.DisplayNameFor(model => model.ProjectName) </dt>
        <dd> @Html.DisplayFor(model => model.ProjectName) </dd>
        <dt> @Html.DisplayNameFor(model => model.DivLead) </dt>
        <dd> @Html.DisplayFor(model => model.DivLead) </dd>
        <dt> @Html.DisplayNameFor(model => model.TotalCost) </dt>
        <dd> @Html.DisplayFor(model => model.TotalCost) </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Withdraw" class="btn btn-primary" />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
