@model AppPortal.Models.Finance.Analyst

@{
    ViewData["Title"] = "Analyst Details";
}

<h2>Analyst Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.AnalystName) </dt>
        <dd> @Html.DisplayFor(model => model.AnalystName) </dd>
        <dt> @Html.DisplayNameFor(model => model.AnalystEmail) </dt>
        <dd> @Html.DisplayFor(model => model.AnalystEmail) </dd>
    </dl>
</div>
<div>
    <a asp-action="AnalystEdit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AnalystList">Back to List</a>
</div>
