@model IEnumerable<AppPortal.Models.Finance.Analyst>

@{
    ViewData["Title"] = "AnalystList";
}

<h3>AnalystList</h3>

<p>
    <a asp-action="AnalystCreate">Create New</a> |
    <a asp-action="Index">Return To Menu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.AnalystName) </th>
            <th> @Html.DisplayNameFor(model => model.AnalystEmail) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.AnalystName) </td>
            <td> @Html.DisplayFor(modelItem => item.AnalystEmail) </td>
            <td>
                <a asp-action="AnalystDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="AnalystEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="AnalystDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
