@model IEnumerable<AppPortal.Models.Finance.Division>

@{
    ViewData["Title"] = "DivisionList";
}

<h3>Division List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.DivisionName) </th>
            <th> @Html.DisplayNameFor(model => model.DivLead) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.DivisionName) </td>
            <td> @Html.DisplayFor(modelItem => item.DivLead.DivLeadName) </td>
            <td>
                <a asp-action="EditDivision" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
