@model IEnumerable<AppPortal.Models.Finance.DivLead>

@{
    ViewData["Title"] = "Secretary List";
}

<h3>Secretary List</h3>

<p>
    <a asp-action="DivLeadCreate">Create New</a> |
    <a asp-action="Index">Return To Menu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.DivLeadName) </th>
            <th> @Html.DisplayNameFor(model => model.DivLeadEmail) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.DivLeadName) </td>
            <td> @Html.DisplayFor(modelItem => item.DivLeadEmail) </td>
            <td>
                <a asp-action="DivLeadDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DivLeadEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DivLeadDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
