@model AppPortal.Models.Finance.DivLead

@{
    ViewData["Title"] = "DivLeadDetails";
}

<h2>DivLeadDetails</h2>

<div>
    <h4>DivLead</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DivLeadName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DivLeadName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DivLeadEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DivLeadEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DivLeadEdit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="DivLeadList">Back to List</a>
</div>
