@model AppPortal.Models.Finance.OrgChart

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.FundFunctProg) </dt>
        <dd> @Html.DisplayFor(model => model.FundFunctProg) </dd>
        <dt> @Html.DisplayNameFor(model => model.ProgramNum) </dt>
        <dd> @Html.DisplayFor(model => model.ProgramNum) </dd>
        <dt> @Html.DisplayNameFor(model => model.ProgramName) </dt>
        <dd> @Html.DisplayFor(model => model.ProgramName) </dd>
        <dt> @Html.DisplayNameFor(model => model.Division) </dt>
        <dd> @Html.DisplayFor(model => model.Division.DivisionName) </dd>
        <dt> @Html.DisplayNameFor(model => model.Analyst) </dt>
        <dd> @Html.DisplayFor(model => model.Analyst.AnalystName) </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
